#color-mat1 {
  width: 100px;
  height: 25px;
  background: #FFFFFF;
}



#useSkybox {
   width: 100px;
   height: 25px;
   background: #151719;
   border: solid #23272A;
   display: flex;
   justify-content: center;
   align-items: center;
   color: #545454;
 }
 
 .chek {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background: #232629; /* Mesma cor do seu .inp-prop */
  border: 1px solid #111315; /* Mesma cor do fundo .heirarquia */
  border-radius: 2px;
  cursor: pointer;
  position: relative;
  outline: none;
  vertical-align: middle;
}

/* Hover: clareia levemente, igual inputs do Blender */
.chek:hover {
  background: #2F3338; 
  border-color: #5A5A5A; /* Sua cor de texto secundária */
}

/* Marcado: Azul de seleção */
.chek:checked {
  background: #111315; 
  border-color: #111315;
}

/* O "V" (Check) */
.chek:checked::after {
  content: "";
  position: absolute;
  width: 3px;
  height: 8px;
  border: solid #FFFFFF;
  border-width: 0 2px 2px 0;
  top: 1px;
  left: 5px;
  transform: rotate(45deg);
  box-shadow: 0 1px 0 rgba(0,0,0,0.5);
}



.render_setting{
background: #111315;
position: fixed;
width: 160px;
height: 230px;
z-index: 1;
overflow-y: auto;
display: none;
}

#renderCanvas2{
  position: fixed;
  background: #0015FF61;
  width: 100vw;
  height: 100vh;
  display: none;
}

