.splash{
  position: fixed;
  margin: 0;
  background: #000000AD;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(8px);
 display: none;
 
}

.spdiv{
  width: 370px;
  height: 360px;
  background: #212121;
}

.img_show{
  width: 100%;
  background: #212121;
  height: 50%;
  overflow: hidden;
  position: relative;
}

.left_menu{
  width: 50%;
  height: 100%;
  background: #212121;
}

.control_down{
  width: 100%;
  background: #212121;
  height: 50%;
  display: flex;
  flex-direction: row;
  
}

.right_menu {
  width: 50%;
  height: 100%;
  background: #212121;
  display: flex;
}

#img{
  position: absolute;
 margin-top: -170px;
 margin-left: -80px;
  width: 640px;
}

.icon_name{
  position: fixed;
  color: #FFFFFF;
  z-index: 88;
  display: flex;
  align-items: center;
  font-size: 10px;
}

.img80{
  filter: brightness(0) invert(1);
  width: 30px;
}

.data_relase {
  position: fixed;
  display: flex;
  flex-direction: column;     /* coluna */
  margin-left: 265px;
  margin-top: 5px;
  text-align: right;          /* texto à direita */

  color: #8B8B8B;
  font-size: 10px;
  font-family: monospace;
  z-index: 88;

  user-select: none;
}



.splash_art {
  position: fixed;
  display: flex;
  flex-direction: column;     /* coluna */
  margin-left: 265px;
  margin-top: 160px;
  text-align: right;          /* texto à direita */

  color: #8B8B8B;
  font-size: 10px;
  font-family: monospace;
  z-index: 88;

  user-select: none;
}

.img100{
  width: 15px;
  margin-top: -5px;
}

.labelm1{
display: flex;
flex-direction: row;
align-items: center;
color: #777777;
margin: 15px;

}


.btm{
  color: #CBCBCB;
  outline: none;
  border: none;
  background: transparent;
}


#timer {
  position: absolute;
  font-size: 11px;
  color: #626262;
  margin-top: 50px;
  margin-left: 85px;
  text-align: right;
}